//
   Created by Ponczek on 17/11/2015.

extends layout

block content
   - var title = 'New Adventure'
   .container.post-box.post-form
      form.form-horizontal(role='postform' method='post')
         h2.form-post-heading Create Adventure
         fieldset
            // Text input
            .form-group
               label.col-md-4.control-label.adventure-title(for='textinput') Title
               .col-md-6
                  input#textinput.form-control.input-md(name='textinput', type='text', placeholder='', required='')
            // Textarea
            .form-group
               label.col-md-4.control-label(for='adventureContent') Describe Your Adventure
               .col-md-4
                  textarea#adventure-content.form-control(name='adventureContent' style='width:500px;!')
            .form-group
               label.col-md-4.control-label(for='adventureTags') Tags separated by #
               .col-md-4
                  textarea#tags.form-control(name='adventureTags', style='width:500px;!',placeholder='', required='')
            .form-group
               label.col-md-4.control-label(for='adventureLocation') Location
               .col-md-4
                  //input#textinput.form-control.location-md(name='adventureLocation', type='text', placeholder='', required='')
                  input.us3-address.form-control.location-md(name="adventureLocation",type='text', placeholder='', required='')
            .form-group
               label.col-md-4.control-label(for='adventureRadius') Radius
               .col-md-4
                  input.us3-radius.form-control.location-md(name="adventureRadius",type='text')
                  .us3(style='width: 450px; height: 360px;')
            .form-group
               label.col-md-4.control-label(for='mapLocation') Details
               .col-md-4
                  | Lat.:
                  input.us3-lat.form-control.location-md(name='lat',type='text' )
                  | Long.:
                  input.us3-lon.form-control.location-md(name='lon',type='text' )

                  script.
                     $('.us3').locationpicker({
                        location: {latitude: 57.15088263202686, longitude: -2.098320136718712},
                        radius: 200,
                        inputBinding: {
                           latitudeInput: $('.us3-lat'),
                           longitudeInput: $('.us3-lon'),
                           radiusInput: $('.us3-radius'),
                           locationNameInput: $('.us3-address')
                        },
                        enableAutocomplete: true,
                        onchanged: function (currentLocation, radius, isMarkerDropped) {
                           //alert("Location changed. New location (" + currentLocation.latitude + ", " + currentLocation.longitude + ")");

                        }
                     });

            // File Button
            .form-group
               form(method='post', enctype='multipart/form-data', action='/upload').col-md-4.control-label Upload Pictures
                  .col-md-4
                     input.input-file(type='file', name='file')
                     input.input-file(type='submit', value='Submit')

            // Button (Double)
            .form-group
               label.col-md-4.control-label(for='adventure-back')
               .col-md-8.btn-toolbar
                  button#adventure-back.btn.btn-primary(name='adventure-back') Go Back
                  button#adventure-submit.btn.btn-success(name='adventure-submit') Post Adventure