//
   Created by Ponczek on 17/11/2015.

extends layout

block content
   - var title = 'New Adventure'
   .container.post-box.post-form
      form.form-horizontal.col-md-12(role='postform' method='post')
         h2.form-post-heading Create Adventure
         fieldset
            // Text input
            .form-group
               label.col-md-4.control-label.adventure-title(for='textinput') Title
               .col-md-6
                  input#textinput.form-control.input-md(name='textinput', type='text', placeholder='', required='')
            // Textarea
            .form-group
               label.col-md-4.control-label(for='adventureContent') Describe Your Adventure
               .col-md-6
                  textarea#adventure-content.form-control(name='adventureContent',rows='8')
            .form-group
               label.col-md-4.control-label(for='adventureTags') Tags separated by #
               .col-md-6
                  textarea#tags.form-control(name='adventureTags',placeholder='', required='')
            .form-group
               label.col-md-4.control-label(for='adventureLocation') Location
               .col-md-6
                  input.us3-address.form-control.location-md(name="adventureLocation",type='text', placeholder='', required='')
            .form-group
               //label.col-md-2.control-label(for='adventureRadius') Pick a location:
               .col-md-12.col-md-offset-1
                  .us3(style='width: 900px; height: 370px;')
            .form-group
               label.col-md-4.control-label(for='mapLocation')
               .col-md-4
                  input.us3-lat.form-control.location-md(name='lat',type='text',style='visibility: hidden;' )
                  input.us3-lon.form-control.location-md(name='lon',type='text',style='visibility: hidden;' )
                  script.
                     $('.us3').locationpicker({
                        location: {latitude: 57.15088263202686, longitude: -2.098320136718712},
                        radius: 200,
                        inputBinding: {
                           latitudeInput: $('.us3-lat'),
                           longitudeInput: $('.us3-lon'),
                           locationNameInput: $('.us3-address')
                        },
                        enableAutocomplete: true,
                        onchanged: function (currentLocation, radius, isMarkerDropped) {
                           //alert("Location changed. New location (" + currentLocation.latitude + ", " + currentLocation.longitude + ")");

                        }
                     });

            // File Button
            .form-group
               form(method='post', enctype='multipart/form-data', action='/upload')
                  label.control-label.col-md-6 Upload Pictures
                  .col-md-6.col-md-offset-5
                     input.input-file(type='file', name='file')
                     input.input-file.btn.btn-default(type='submit', value='Submit')

            // Button (Double)
            .form-group
               //label.col-md-4.control-label(for='adventure-back')
               .col-md-12.btn-toolbar.text-center
                  button#adventure-back.btn.btn-primary(name='adventure-back') Go Back
                  button#adventure-submit.btn.btn-success(name='adventure-submit') Post Adventure