//
   Created by Georgi on 19.12.2015 ã..

extends layout
block content
   - var title = 'Authors Page'
   .container
      .col-md-10
         p
            strong Authors:
               if authors
                  each index in authors
                     .adventure-link
                        a.span.label.label-info.tags(href ='/profile/#{index.auth_id}') #{index.name} aka #{index.login_name}
               else
                  p User has not added any adventures.