//
   Created by Georgi on 29.11.2015 ã..

block content
      .media
         a.pull-left(href='#')
            //img.media-object(src='http://placehold.it/64x64', alt='')
         .media-body
            h4.media-heading
               div
                  a(href ='/profile/'+val.user_id)
                     span=val.user_name
               small
                  div=val.post_date
         div=val.content

