//
   Created by Georgi on 29.11.2015 ã..

block content
      .media
         a.pull-left(href='#')
            img.media-object(src='http://placehold.it/64x64', alt='')
         .media-body
            h4.media-heading
               .commTitle Test comment
               small
                  .commInfo August 25, 2014 at 9:30 PM
         .commText Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

