#footer
    .footer-credentials
        .footer-socials
            ul
                li
                    i.fa.fa-twitter-square
                li
                    i.fa.fa-facebook-square
                li
                    i.fa.fa-envelope-square
                li
                    i.fa.fa-github-square
                li
                    i.fa.fa-plane
        .footer-signature
            p Made with
                i.fa.fa-heart
            p {Fruitato} development team.