extends layout

block content
    .welcome-page
        h1 The Wanderblog
        img.img-responsive.resp-img(src="images/resp-design.png")
        p.lead Wanderblog is a web application where adventures can be shared and viewed by anyone with a device with internet access. It acts as a hub to share personal experiences through texts and images. Users are able to view, comment and rate adventures added by other people as well as post their own adventures.
        img.img-responsive.resp-img(src="images/profile.png")
        p.lead Find new friends who share the same passion as you, and become sociable !
        .col-md-12.text-center
            a.btn.btn-primary.btn-lg.center-block.button-spot(href='/register') Join today
        br
