//search which was working
//        li.serc
//                form(method='post', action='/search').input-group.search-nav
//                    input.form-control(type='text', placeholder='Search for...', name='searchedFor', required=true)
//                    input.btn.btn-default(type='submit' value='Go')

.navbar.navbar-default.nav-style
    .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href='/')
            img(style='max-width:70px; max-height:70px;',src='/stylesheets/images/wanderlogo2.png',href='/')
    .navbar-collapse.collapse.navbar-responsive-collapse
        ul.nav.navbar-nav
            li.active
                a(href='/adventures') Adventures
            li
                a(href='') Members
            li
                a(href='/contact') Creators
        form.navbar-form.navbar-left.form-group(method='post', role='search', action='/search')
            .form-group
                input.form-control(type='text', placeholder='Search for...', name='searchedFor', required=true)
            button.button.btn.btn-default(type='submit' ,value='Go') Search


        nav.navbar-nav.navbar-right.btn-toolbar.btn-inline
            if (!locals.isLoggedIn)
                a.btn.btn-primary.btn-responsive.pull-right.btn-lg.outline(href='/login', role='button') Sign In
                a.btn.btn-info.btn-responsive.pull-right.btn-lg.outline(href='/register', role='button') Sign Up
            else
                a.btn.btn-danger.btn-responsive.pull-right.btn-lg.outline(href='/logout', role='button') Log Out
                a.btn.btn-info.btn-responsive.pull-right.btn-lg.outline(href='/adventureForm', role='button') New Adventure
                a.btn.btn-info.btn-responsive.pull-right.btn-lg.outline(href='/profile/#{locals.isLoggedIn}', role='button') My Profile
