.navbar.navbar-inverse.navbar-fixed-top
    .container
    .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
        img(style='max-width:100px', src='/stylesheets/images/wanderlogo2.png')
    .navbar-collapse.collapse
        ul.nav.navbar-nav
        li
            a(href='/') Home
        li
            a(href='/about') About
        li
            a(href='/contact') Contact
        li.serc
                form(method='post', action='/search').input-group.search-nav
                    input.form-control(type='text', placeholder='Search for...', name='searchedFor', required=true)
                    input.btn.btn-default(type='submit' value='Go')
        li
            ul.nav-btns
                .btn-toolbar
                    a.btn.btn-primary.log-btn(href='/login', role='button') Login
                    a.btn.btn-info.reg-btn(href='/register', role='button') Register



