//
   Created by Ponczek on 02/11/2015.

extends layout
block content
    - var title = 'Register'
    .container
        form.form-horizontal(role='form' method='post')
            h2 Registration Form
            .form-group
                label.col-sm-3.control-label(for='firstName') First Name
                .col-sm-9
                    input#firstName.form-control(type='text', placeholder='First Name', autofocus='', name ='first_name')
                    span.help-block eg.: John, Harry
            .form-group
                label.col-sm-3.control-label(for='lastName') Last Name
                .col-sm-9
                    input#firstName.form-control(type='text', placeholder='Last Name', autofocus='', name ='last_name')
                    span.help-block eg.: Smith, Doe
            .form-group
                label.col-sm-3.control-label(for='email') Email
                .col-sm-9
                    input#email.form-control(type='email', placeholder='Email', name ='email')
            .form-group
                label.col-sm-3.control-label(for='password') Password
                .col-sm-9
                    input#password.form-control(type='password', placeholder='Password', name ='password')
            .form-group
                label.col-sm-3.control-label(for='country') Country
                .col-sm-9
                    select#country.form-control(name ='country')
                        option Afghanistan
                        option Bahamas
                        option Cambodia
                        option Denmark
                        option Ecuador
                        option Fiji
                        option Gabon
                        option Haiti
            // /.form-group
            .form-group
                label.control-label.col-sm-3 Type of user:
                .col-sm-6
                    .row
                        .col-sm-4
                            label.radio-inline
                                input#femaleRadio(type='radio', value='Author', name="userType")
                                | Author
                        .col-sm-4
                            label.radio-inline
                                input#maleRadio(type='radio', value='Reader', name="userType")
                                | Reader
            // /.form-group

            .form-group
                .col-sm-9.col-sm-offset-3.btn-toolbar
                    button.btn.btn-success.btn-group(type='submit') Register
                    button.btn.btn-primary.btn-group(type='submit') Sign in
        // /form
    // ./container

