/* navigations css */

.navbar-collapse.collapse li {
    display: inline;
    position: relative;
    padding: 30px;
    font-size: 2em;
    margin-top: 30px;
}



/* footer css */
#footer {
    background-image: url('images/footer-landscape.png');
    height: 250px;
/ / position : fixed;
/ / margin-bottom : - 7.5 em;
/ / min-height : 100 %;
    font-family: Lato;
    margin-top: 250px;
}

.footer-credentials {
    padding-top: 30px;
    text-align: center;
}

.footer-signature p {
    color: black;
    font-size: 1.5em;
}

.footer-signature i {
    color: #428bca;

}

.footer-socials li {
    display: inline-block;
    padding-right: 20px;
}

.footer-socials ul {
    font-size: 4em;
    text-align: center;
    padding-top: 30px;
    color: #428bca;
}

.body-content {
    padding-top: 100px;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('images/mountains-bg.jpg');
/ / background : no-repeat, center;
}

.navbar {
    font-family: 'Slabo 27px', serif;
    font-weight: 100;
    background: rgba(255, 255, 255, 0.9);
    padding-left: 30px;
}

.welcome-page {
    margin-top: 50px;
    border-radius: 25px;
    border: solid 5px;
    border-color: white;
}

.lead {
    padding: 20px;
    color: white;
    text-shadow: 2px 2px 2px #000;
}

.welcome-page h1 {
    padding: 30px;
    font-size: 7em;
    text-align: center;
    color: white;
    font-family: 'Slabo 27px', serif;
    text-shadow: 4px 4px 4px #aaa;
}

.registration-title {
    font-family: Lato;
    font-size: 24px;
    text-align: center;
}

.registerbox {
    margin: 20px auto;
    font-family: Lato;
    padding: 30px;
    text-align: center;
    width: 453px;
    height: 584px;
    -webkit-border-radius: 8px/7px;
    -moz-border-radius: 8px/7px;
    border-radius: 8px/7px;
    background-color: #ebebeb;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    border: solid 1px #cbc9c9;
}

.loginbox {
    margin: 20px auto;
    font-family: Lato;
    padding: 30px;
    text-align: center;
    width: 453px;
    height: 300px;
    -webkit-border-radius: 8px/7px;
    -moz-border-radius: 8px/7px;
    border-radius: 8px/7px;
    background-color: #ebebeb;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    border: solid 1px #cbc9c9;
}

.registerbox input, select, textarea {
    width: 290px;
    border: 4px solid #428bca;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.registerbox input[type=text], input[type=password], input[type=email] {
    height: 39px;
    -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
    -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
    border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    border: solid 1px #cbc9c9;
    margin-left: 15px;
    margin-top: 20px;
}

.loginbox input, select, textarea {
    width: 290px;
    border: 4px solid #428bca;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.loginbox input[type=text], input[type=password], input[type=email] {
    height: 39px;
    -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
    -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
    border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    border: solid 1px #cbc9c9;
    margin-left: 15px;
    margin-top: 20px;
}

.loginbox input[type=submit] {
    -moz-box-shadow: 0px 0px 0px 0px #9fb4f2;
    -webkit-box-shadow: 0px 0px 0px 0px #9fb4f2;
    box-shadow: 0px 0px 0px 0px #9fb4f2;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5e7deb), color-stop(1, #3b8ef5));
    background: -moz-linear-gradient(top, #5e7deb 5%, #3b8ef5 100%);
    background: -webkit-linear-gradient(top, #5e7deb 5%, #3b8ef5 100%);
    background: -o-linear-gradient(top, #5e7deb 5%, #3b8ef5 100%);
    background: -ms-linear-gradient(top, #5e7deb 5%, #3b8ef5 100%);
    background: linear-gradient(to bottom, #5e7deb 5%, #3b8ef5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e7deb', endColorstr='#3b8ef5', GradientType=0);
    background-color: #5e7deb;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 12px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    padding: 10px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}

.loginbox.input[type=submit]:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3b8ef5), color-stop(1, #5e7deb));
    background: -moz-linear-gradient(top, #3b8ef5 5%, #5e7deb 100%);
    background: -webkit-linear-gradient(top, #3b8ef5 5%, #5e7deb 100%);
    background: -o-linear-gradient(top, #3b8ef5 5%, #5e7deb 100%);
    background: -ms-linear-gradient(top, #3b8ef5 5%, #5e7deb 100%);
    background: linear-gradient(to bottom, #3b8ef5 5%, #5e7deb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b8ef5', endColorstr='#5e7deb', GradientType=0);
    background-color: #3b8ef5;
}

.loginbox.input[type=submit]:active {
    position: relative;
    top: 1px;
}

.sel {
    padding-top: 15px;
}

.submit-button {
    padding-top: 15px;
}

.registerbox input[type=submit] {
    -moz-box-shadow: 0px 0px 0px 0px #9fb4f2;
    -webkit-box-shadow: 0px 0px 0px 0px #9fb4f2;
    box-shadow: 0px 0px 0px 0px #9fb4f2;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5e7deb), color-stop(1, #3b8ef5));
    background: -moz-linear-gradient(top, #5e7deb 5%, #3b8ef5 100%);
    background: -webkit-linear-gradient(top, #5e7deb 5%, #3b8ef5 100%);
    background: -o-linear-gradient(top, #5e7deb 5%, #3b8ef5 100%);
    background: -ms-linear-gradient(top, #5e7deb 5%, #3b8ef5 100%);
    background: linear-gradient(to bottom, #5e7deb 5%, #3b8ef5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e7deb', endColorstr='#3b8ef5', GradientType=0);
    background-color: #5e7deb;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 12px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    padding: 10px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}

.registerbox.input[type=submit]:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3b8ef5), color-stop(1, #5e7deb));
    background: -moz-linear-gradient(top, #3b8ef5 5%, #5e7deb 100%);
    background: -webkit-linear-gradient(top, #3b8ef5 5%, #5e7deb 100%);
    background: -o-linear-gradient(top, #3b8ef5 5%, #5e7deb 100%);
    background: -ms-linear-gradient(top, #3b8ef5 5%, #5e7deb 100%);
    background: linear-gradient(to bottom, #3b8ef5 5%, #5e7deb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b8ef5', endColorstr='#5e7deb', GradientType=0);
    background-color: #3b8ef5;
}

.registerbox.input[type=submit]:active {
    position: relative;
    top: 1px;
}

.log-btn {
    font-weight: 100;
    font-size: 27px;
}

.reg-btn {
    font-weight: 100;
    font-size: 27px;
}

.nav-btns {
    text-align: right;
    display: inline-block;
    padding-left: 2%;
    padding-top: 10px;
}

.search-nav{
    display: inline;
    max-width: 250px;
}

.serc{
    max-width: 250px;
    display: inline;
}

.form-control{
    width: 20% !important;
}
